<div class="card">
  <h5 class="card-header">Sign Up</h5>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-floating mb-3">
        <%= f.email_field :email, class:"form-control", id:"floatingEmail", placeholder:"Email", autofocus: true, autocomplete: "email" %>
        <%= f.label :email, for:"floatingEmail" %>
      </div>

      <div class="field form-floating mb-3">
        <%= f.password_field :password, class:"form-control", id:"floatingPassword", placeholder:"Password", autocomplete: "new-password" %>
        <%= f.label :password, for:"floatingPassword" %>
      </div>

      <div class="field form-floating mb-3">
        <%= f.password_field :password_confirmation, class:"form-control", id:"floatingPasswordConfirmation", placeholder:"Password Confirmation", autocomplete: "new-password" %>
        <%= f.label :password_confirmation, for:"floatingPasswordConfirmation" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
<br>

    

<%= render "devise/shared/links" %>
