<h1>My Courses</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Course name</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Time required</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <% if course.user == current_user %>
        <tr>
          <td><%= course.course_name %></td>
          <td><%= course.course_description %></td>
          <td><%= course.difficulty %></td>
          <td><%= course.time_required %></td>
          <td><%= link_to 'Show', course, class:"btn btn-outline-secondary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_course_path(course), class:"btn btn-outline-dark btn-sm" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Course', new_course_path, class:"btn btn-dark" %>  
